$pageWidth: 500px;
$pageBg: rgb(109, 105, 105);
$borderColor: rgba(248, 241, 241, .3);
$headBg: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec);
$bodyBg: linear-gradient(to right bottom, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
$itemBg: linear-gradient(to right bottom, #be76ad, #8f8bcb, #599cce, #46a6ba, #64aa9e);

