@import "base";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: $mainColor;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
body{
  background-image: $bodyBg;
}
*::-webkit-scrollbar{
  display: none;
}
#app{
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
}

.el-menu{
  background-color: transparent;
}
.main-wrapper{
  width: 200%;
}
.list1{
  width: 50%;
  height: 40px;
  background-color: red;
  border: 10px solid black;
  float: left;
}
.list2{
  width: 50%;
  height: 30px;
  background-color: green;
  float: left;
}
#el-drawer__title{
  display: none;
}
.el-input__inner{
  border-radius: 30px;
}
.el-carousel__arrow{
  display: none;
}
.my-content{
  margin-top: $headerHeight;
  margin-bottom: $footerHeight + $playerHeight;
  padding: 10px 0;
  //overflow: hidden;
}
.my-3dots{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.vice-text{
  color: $viceColor;
}

