@import "base";
.my-footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: $footerHeight;
  background-image: linear-gradient(to right, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  .footer-list{
    display: flex;
    justify-content: space-around;
    height: 100%;
    .footer-item{
      width: 20%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      &.router-link-active{
        pointer-events: none;
        .item-icon{
          background-color: $activeColor;
        }
        .item-text{
          color: $activeColor;
        }
      }
      .item-icon{
        width: 30px;
        height: 30px;
        font-size: 20px;
        margin: 0 auto;
        border-radius: 100%;
      }
      .item-text{
        font-size: 12px;
      }
    }
  }
}
