@import "base";
.category-wrapper{
  position: fixed;
  top: $headerHeight;
  left: 0;
  background: $bodyBg;
}
.singer-category{
  display: -webkit-box;
  overflow-x: scroll;
  margin: 0 5px;
  li{
    font-size: 13px;
    line-height: 30px;
    padding: 2px 5px;
    &.active a span{
      color: orange;
    }
  }
}
